@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILoginService LoginService

<div class="grey lighten-3">
    <header>
        <nav role="navigation" class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">
                <a href="#" class="navbar-brand waves-effect"><strong class="blue-text">Logo</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav navbar-collapse">
                        <li class="nav-item">
                            <a href="#" class="nav-link waves-effect"><span style="margin-right: 25px;">@userName</span></a>
                        </li>
                        <li class="nav-item">
                            <a href=""class="nav-link waves-effect" @onclick="() => LoginService.Logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top:60px;">
        @Body
    </div>
</div>

@code {
    string userName;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userName = state.User.Identity.Name;
    }
}
