<footer>
    <div class="text-center">
        <img class="logo-img" src="/img/footorLogo.png" />
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6  text-center">
            <strong style="margin-left: 15px;">
                Телефоны для справок:<br/>
                4-41-01, 4-32-13,   (071) 332-74-22 – ул. Ушева, 1<br />
            </strong>
        </div>

        @*<div class="col-md-3 align-items-center">
            <a href="#">
                <i class="material-icons">
                    insert_photo
                </i>
            </a>
            <a href="#">
                <i class="material-icons">
                    font_download
                </i>
            </a>
            <a href="#">
                <i class="material-icons">
                    alternate_email
                </i>
            </a>
        </div>*@

        <hr class="socket" />
        &copy; CПП Уголек @DateTime.Now.Year г.
    </div>
</footer>
