<footer>
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <img class="logo-img" src="/img/footorLogo.png" />
            <strong style="margin-left: 15px;">Телефоны для справок:</strong>
            <p>
                4-41-01, 4-32-13, (071) 332-74-22 – ул. Ушева, 1 <br />
                59-87-76 – пр. Ленина, 162а <br />
                52-64-24 – ул. Болотникова, 27а <br />
                57-00-34 – ул. Бессонова, 42а
            </p>
            <a href="#">
                <i class="material-icons">
                    insert_photo
                </i>
            </a>
            <a href="#">
                <i class="material-icons">
                    font_download
                </i>
            </a>
            <a href="#">
                <i class="material-icons">
                    alternate_email
                </i>
            </a>
        </div>

        <hr class="socket" />
        &copy; CПП Уголек @DateTime.Now.Year г.
    </div>
</footer>
