@inherits LayoutComponentBase

@inject NavigationManager Navigation

<div class="main">

    @if ((Body.Target as RouteView)
  .RouteData.PageType.Name == "Index")
    {
        <Intro BodyId="@("top")" ImgSource="/img/banner-index.jpg">
            <div class="banner-text">
                <h2>СПП Уголек <br> ГП <span>Донбасстепло<span>энерго</span></span></h2>
                <p>
                    предприятие, созданное с целью бесперебойного снабжения потребителей качественным теплом,
                    для обеспечения комфортных условий труда и проживания граждан.
                </p>
            </div>
        </Intro>
    }

    @if ((Body.Target as RouteView)
  .RouteData.PageType.Name == "News")
    {
        <Intro BodyId="@("top")" ImgSource="/img/banner-news.jpg">
            <div class="banner-text">
                <h2>Новости</h2>
                <p>
                    предприятие, созданное с целью бесперебойного снабжения потребителей качественным теплом,
                    для обеспечения комфортных условий труда и проживания граждан.
                </p>
            </div>
        </Intro>
    }

    <header id="header">
        <NavMenu Image="/img/Logo.png" CssClassImage="logo-img" />
    </header>

    <div class="body" id="top">
        @Body
    </div>

    <footor>
        <div class="text-center">
            <hr class="socket" />
            <div class="container">
                &copy; CПП Уголек @DateTime.Now.Year г.
            </div>
        </div>
    </footor>
</div>

@code
{ 
    //protected override Task OnAfterRenderAsync(bool firstRender)
    //{
    //    return base.OnAfterRenderAsync(firstRender);
    //}
}

