@inject IJSRuntime JSRuntime

<div class="scroll-panel">
    @foreach (var item in Indexs.Keys)
    {
    <a @onclick="() => JSRuntime.ScrollToElementId(item)">@Indexs[item]</a>
    }
</div>

@code {
    [Parameter]
    public Dictionary<string, string> Indexs { get; set; }
}
