<ul class="filter-ul">

    @foreach (var link in links)
	{
        <li>
            <a @onclick="async () => await SelectedLinkInternal(link)"
               class="@(link.Active ? "active" : null)">
                <span>@link.Text</span>
            </a>
        </li>	 
	}
</ul>

@code {
    [Parameter]
    public CategoryMode CurrentCategory { get; set; }

    [Parameter]
    public IEnumerable<(string text, CategoryMode category)> Links { get; set; }

    [Parameter]
    public EventCallback<CategoryMode> SelectedLink { get; set; }

    List<LinkModel> links;

    protected override void OnParametersSet()
    {
        LoadPages();
    }

    private async Task SelectedLinkInternal(LinkModel link)
    {
        if (link.Active)
        {
            return;
        }

        await SelectedLink.InvokeAsync(link.Category);
    }

    private void LoadPages()
    {
        links = new List<LinkModel>();

        foreach (var linck in Links)
        {
            links.Add(new LinkModel(linck.text, linck.category) 
            { 
                Active = CurrentCategory == linck.category
            });
        }
    }

    class LinkModel
    {
        public LinkModel(string text, CategoryMode сategory)
        {
            Category = сategory;
            Text = text;
        }

        public string Text { get; set; }

        public CategoryMode Category{ get; set; }

        public bool Active { get; set; } = false;
    }
}
