body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    min-width: 765px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.main-container {
    position: relative;
}

.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    display:flex;
}

.main-content {
    width:100%;
}

.body {
    width: 100%;
    min-width: 765px;
    padding-top: 55px;
    box-sizing: border-box;
}

    .body h2 {
        margin: 0;
        padding: 0;
        font-size: 48px;
    }

.scroll-panel {
    width: 10%;
    height: 100px;
    position: sticky;
    top: 100px;
    padding: 8px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}
    .scroll-panel a {
        margin: 5px;
        color: #007bff !important;
    }

.intro {
    width: 100%;
    min-width: 765px;
    height: calc(100vh - 150px);
    min-height: 625px;
    background-color: #fff;
}

.filter {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    min-width: 765px;
    height: calc(100vh - 150px);
    min-height: 625px;
    z-index: 10;
}

.nav-header-link {
    display: block;
    padding: .5rem 1rem;
    cursor: pointer;
    z-index: 20;
    color: #fff !important;
    opacity: 0.6;
}

    .nav-header-link i {
        font-size: 32px !important;
    }

    .nav-header-link:hover {
        opacity: 1;
    }

.banner {
    width: 100%;
    min-width: 765px;
    height: calc(100vh - 150px);
    min-height: 625px;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


    @media only screen and (max-width: 890px) {
        .banner {
            background-attachment: initial;
        }

    .nav-header-link {
        display: none;
    }

    .scroll-indicator {
        display: none;
    }
}

.banner-content {
    position: relative;
    min-height: 462px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.banner-text h2 {
    color: #eceff2;
    font-size: 50px;
    font-weight: bold;
}

    .banner-text h2 span {
        text-transform: uppercase;
    }

.banner-text {
    width: 45%;
    min-width: 765px;
    color: #dde1e6;
    margin: 55px 0 10px 0;
}

    .banner-text p {
        margin-top: 25px;
    }

.banner-buttom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-linck {
    text-decoration: none;
    padding: 10px 12px;
    font-size: 12px;
    background-color: #2196f3;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin: 15px;
}

    .btn-linck:hover {
        text-decoration: none;
        color: #fff;
    }

a.btn-linck i {
    margin-right: 5px;
}

.scroll-indicator {
    position: absolute;
    bottom: 0;
    margin-top: 35px;
    transform: translate(-50%, -50%);
}

    .scroll-indicator span {
        display: block;
        width: 16px;
        height: 16px;
        border-bottom: 1.5px solid #fff;
        border-right: 1.5px solid #fff;
        transform: rotate(45deg);
        margin: -15px;
        animation: animat 2s infinite;
    }

        .scroll-indicator span:nth-child(1) {
            animation-delay: 0.6s;
        }

        .scroll-indicator span:nth-child(2) {
            animation-delay: 0.4s;
        }

        .scroll-indicator span:nth-child(3) {
            animation-delay: 0.2s;
        }

@keyframes animat {

    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px)
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px)
    }
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    min-width: 765px;
    height: 50px;
    margin-top: -50px;
    padding: 0 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

    header a:hover {
        color: #fff;
        text-decoration: none;
    }

.header-background {
    background: #000;
}

.logo {
    margin-left: 15px;
}
.logo-text {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    font-size: 33px;
    display: flex;
    justify-content: center;
}

.logo-img {
    width: 83px;
    height: 47px;
}

/*Навигация*/

.nav-ul {
    display: flex;
    margin: 0;
    padding: 0;
    height: 50px;
}

    .nav-ul li {
        list-style: none;
        line-height: 50px;
        transition: 0.8s;
        text-transform: uppercase;
    }

        .nav-ul li a {
            position: relative;
            font-size: 12px;
            color: #fff;
            text-decoration: none;
            margin: 0 25px;
            letter-spacing: 1px;
        }

            ul li a::after {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0%;
                height: 2px;
                background: #2196f3;
                transition: 0.5s;
            }

            ul li a:hover::after {
                width: 100%
            }

.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2196f3;
}

a:not([href]):not([tabindex]) {
    cursor: pointer;
    color: #fff;
}

.icon {
    color: #fff;
    cursor: pointer;
}

.icon-arrow {
    font-size: 33px !important;
    margin-top: 15px;
}

/*Index content*/

.work-block {
    width: 100%;
    height: 765px;
}

.news-block {
    width: 100%;
    padding: 55px;
}


.news-container {
    display: flex;
    flex-direction: row;
}

/*News content*/

.news-category {
    width: 100%;
    display: flex;
    margin-bottom: 55px;
}

.filter-ul {
    display: flex;
    margin: 0;
    padding: 0;
    height: 50px;
}

    .filter-ul li {
        list-style: none;
        line-height: 50px;
        transition: 0.8s;
        text-transform: uppercase;
    }

        .filter-ul li a {
            position: relative;
            font-size: 18px;
            font-weight:bold;
            color: #000;
            text-decoration: none;
            margin: 0 25px;
            letter-spacing: 1px;
        }

        .filter-ul li a.active {
            color:#2196f3;
        }

/*News Card*/
.news-container section {
    margin: 25px;
}

.row {
    justify-content: center;
}

.col-sm-4 {
    padding: 15px;
    min-width: 380px;
}

.card {
    position: relative;
    height: 400px;/*100%;*/
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);*/
    overflow: hidden;
    /*border: #fff;*/
}

.news-card-img {
    height: 100%;
    overflow: hidden;
    min-height: 450px;
}

.img-responsive {
    width: 100%;
    min-height: 75%;
    transition: 0.5s;
}

.card:hover .news-card-img .img-responsive {
    transform: scale(1.2) translateY(-50px);
}

.card .news-content {
    position: absolute;
    bottom: -150px;
    padding: 20px;
    background: #fff;
    transition: 0.5s;
    /*width: 350px;*/
    height: 300px;
}

.card:hover .news-content {
    bottom: 0px;
    overflow-y: scroll;
}

    .card .news-content .news-lable {
        position: absolute;
        top: -30px;
        left: 0;
        background: #2196f3;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        padding: 5px 20px;
        font-size: 16px;
        transition: 0.5s;
    }

    .card .news-content .time a {
        text-decoration: none;
        padding-right: 10px;
        transition: 0.5s;
    }

    .card .news-content .time, .card .news-content .time a i {
        font-size: 14px !important;
    }

    .card .news-content .news-header {
        margin: 0;
        padding: 10px 2px;
        height: 75px;
        font-size: 28px;
        overflow: hidden;
    }

.card .news-content p {
    font-size: 14px;
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    transition: 0.3s;
}

.card:hover .news-content p {
    opacity: 1;
}

@media (max-width: 576px) {
    .card {
        position: relative;
        height: 648px;
        overflow: hidden
    }

        .card .news-content .news-header {
            margin: 0;
            padding: 10px 2px;
            height: 75px;
            font-size: 32px;
            overflow: hidden;
        }

    .card:hover .news-content p {
        opacity: 1;
        font-size: 24px;
    }

    .card .news-content .time a, .card .news-content .time a i, news-content a {
        font-size: 24px !important;
    }
}/*Footor*/
footer {
    margin-top: 35px;
    height: 150px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    background: #eee;
}