@page "/account"

@layout AccountLayout

@attribute [Authorize]

<div class="card">
    <div class="card-body container text-center">
        <h3>Account</h3>
        <AuthorizeView Roles="@Roles.Admin">
            <h3>Admin</h3>
        </AuthorizeView>
    </div>
</div>

@code {

}
