@page "/about"
@layout MainLayout

<Intro BodyId="@("body")" ImgSource="img/banner.jpg">
    <div class="banner-text">
        <h2>Наше Предприятие</h2>
        <p>
            созданное с целью бесперебойного снабжения потребителей качественным теплом,
            для обеспечения комфортных условий труда и проживания граждан.
        </p>
    </div>
</Intro>

<header id="header">
    <NavMenu Image="/img/Logo.png" CssClassImage="logo-img" />
</header>

<div class="body" id="body">
    <div class="jumbotron">
        <div class="container text-center">
            <h3>About</h3>
        </div>
    </div>
</div>

@code {

}
