@page "/"

@inject HttpClient HttpClient

<div class="content">
    <div class="main-content">
        <div class="work-block" id="work">
            <h2 class="title">Main Title</h2>
        </div>
        <hr>
        <div class="news-block" id="news">
            <div class="container">
                <div class="news-block-text">
                    <h2 class="title">Новости</h2>
                    <a class="linck" href="news">
                        Смотреть все
                        <i class="material-icons">
                            keyboard_arrow_right
                        </i>
                    </a>
                </div>

                @if (news == null)
                {
                    <h5>Looding...</h5>
                }
                else
                {
                    <div class="row">
                        @foreach (var item in news)
                        {
                            <NewsCard Date="@item.Time" ImageSrc="@item.ImageSrc" Title="@item.Title">
                                <span>
                                    @item.Description
                                </span>
                            </NewsCard>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code
{
    private IEnumerable<NewsPost> news = null;

    protected override async Task OnInitializedAsync()
    {
        news = (await HttpClient.GetJsonAsync<IEnumerable<NewsPost>>("api/News"))
            .OrderByDescending(n => n.Time)
            .Take(3);
    }
}
