@page "/job"
@layout MainLayout

<Intro BodyId="@("body")" ImgSource="https://sun9-4.userapi.com/c857420/v857420760/1ad9df/5fa5DiZogHA.jpg">
    <div class="banner-text">
        <h2>Вакансии</h2>
        <p>
            @*наша цель - бесперебойное снабжение качественным теплом, опеспечение комфорта граждан.*@
            созданно с целью бесперебойного снабжения потребителей качественным теплом,
            для обеспечения комфортных условий труда и проживания граждан.
        </p>
    </div>
</Intro>

<header id="header">
    <NavMenu Image="/img/Logo.png" CssClassImage="logo-img" />
</header>

<div class="body" id="body" style="padding-top: 0;">

</div>

    @code {

    }
