@page "/news"

@inject HttpClient HttpClient

<section>
    <div class="container-fluid" data-aos="">
        <div class="container">

            <div class="news-category">
                <ul class="filter-ul">
                    <li>
                        <NavLink href="news" Match="NavLinkMatch.All">
                            <span>Все</span>
                        </NavLink>
                    </li>
                    <li>
                        <NavLink href="#">
                            <span>Мироприятия</span>
                        </NavLink>
                    </li>
                    <li>
                        <NavLink href="#">
                            <span>Ремонт</span>
                        </NavLink>
                    </li>
                    <li>
                        <NavLink href="#">
                            <span>Экология</span>
                        </NavLink>
                    </li>
                </ul>
            </div>

            @if (news == null)
            {
                <h5>Looding...</h5>
            }
            else
            {
                <div class="row">
                    @foreach (var item in news)
                    {
                        <NewsCard Date="@item.Time" ImageSrc="@item.ImageSrc" Title="@item.Title">
                            <span>
                                @item.Description
                            </span>
                        </NewsCard>
                    }
                </div>
            }
        </div>
    </div>
</section>

@code 
{
    private IEnumerable<NewsPost> news = null;

    protected override async Task OnInitializedAsync()
    {
        news = (await HttpClient.GetJsonAsync<IEnumerable<NewsPost>>("api/News"));
    }
}
